* {
	font-family: 'Roboto', sans-serif;
}

a {
	display: block;
	color: red;
}

a:visited, a:link, a:active {
	color: red;
}

a:hover {
	color: black;
}

.container {
	margin: 0 auto;
	font-size:20px;
	width: 70%; 
	position: relative; 
	text-align: center;
}

.uiPad {
    background-image: url('../../assets/images/xy.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}