* {
	font-family: 'Roboto', sans-serif;
}

a {
	display: block;
	color: red;
}

a:visited, a:link, a:active {
	color: red;
}

a:hover {
	color: black;
}

.container {
	margin: 0 auto;
	font-size:20px;
	width: 70%; 
	position: relative; 
	text-align: center;
}

.uiPad {
    background: url('../../assets/images/xy.svg') no-repeat;
    width: 300px;
    height: 300px;
    position:relative;
    left: 30px;
    
}